/* Set all parents to full height */

html, body, 
.container,
.cbp-fbscroller,
.cbp-fbscroller section { 
	height: 100%; 
}
button{
    cursor: pointer;
}
header{
    
    background-color: #808080;
    background-image: url(../images/header2.jpg);
    background-repeat: repeat-x;
    height: 165px;
    padding-top: 15px;
    width: auto; 
     -moz-box-shadow: 3px 3px 20px #111;
    -webkit-box-shadow: 3px 3px 20px #111;
    box-shadow: 3px 3px 20px #111;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=20, Direction=135, Color='#111111')";
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#111111');
}

#logo {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position-x :center; 
    height: 145px;
    width:30%;
    margin: 0 auto;
    float: left;
}

#contenido_destino {   
    float: left;
    width: 50%;
    overflow: auto;
    max-height: 350px;    
}
#imagen_destino{
    float: right;
    width: 50%;
}
#tab1, #tab2, #tab3{
    height: 350px;
}
img{
    width: 100%;
    height: 100%;
}
/* The nav is fixed on the right side  and we center it by translating it 50% 
(we don't know it's height so we can't use the negative margin trick) */
.cbp-fbscroller > #menu > nav {
	height: 85px;
	width: 250px;
    overflow: hidden;
    background-color: #f9f5f1;
    
    /*background-image: url(../images/header2.jpg);
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;
	width: 26px;right: 100px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);position: fixed;
	z-index: 9999;	
    top: 50%;*/
}

.cbp-fbscroller > #menu > nav a {
	/*display: block;	
	color: transparent;
	width: 26px;
	height: 26px;
	outline: none;
	margin: 25px 0;
	border-radius: 50%;
	border: 4px solid #fff;*/
    position: relative;
	z-index: 9999;
    padding: 6px 20px;
    display: block;
    text-align: center;
    color: rgb(90, 89, 89);
}
#menu{
    position: fixed;
    top: 200px;
    width: 250px;
    z-index: 1000;
}

.menu{   
    height: 50px;
   /* background-color: cadetblue;*/
}
.perfil{
    height: 64px;
    position: absolute;   
    /*margin: 500px 800px;*/
    width: 193px;
    background-image: url(../images/verperfil.png);
}
#subir{
    background-image: url(../images/flecha_arriba.png);
    background-repeat: no-repeat;
    background-position: top;   
    height: 14px;
}
#bajar{
    background-image: url(../images/flecha_arriba.png);
    background-repeat: no-repeat;
    background-position: bottom;    
    height: 14px;
}
.flecha_menu{
    padding: 5px 20px;
    height: 30px;
    color: #111;
    background-color: #f9f5f1;
    cursor: pointer;
    text-align: center;
}
#subir:hover{   
    background-image: url(../images/flecha_over.png); 
    background-position: top; 
}
#bajar:hover{   
     background-image: url(../images/flecha_over.png);
     background-position: bottom; 
}
#header_menu{       
    height: 20px;
    border-top-right-radius: 10px;
    background-image: url(../images/header_menu.png);
}

#footer_menu{  
    height: 20px;
    border-bottom-right-radius: 10px;        
    background-image: url(../images/footer_menu.png);
}
.no-touch .cbp-fbscroller > #menu > nav a:hover {
	background: #5fb0ab;
}

.cbp-fbscroller > #menu > nav a.cbp-fbcurrent {
	background: rgb(156, 120, 120);
    color: white;
}

/* background-attachment does the trick */
.cbp-fbscroller section {
	position: relative;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.no-touch .cbp-fbscroller section {
	background-attachment: fixed;
}
.contenido_seccion{
    background-image: url(../images/circulo.png);
    background-size: cover;
    height: 500px;
    width: 500px;
    margin: 200px 35%;
    position: fixed;
}
#titulo1{
    background-image: url(../images/titulo.png);
    background-size: cover;
    height: 165px;
    top: 200px;
    left: 500px;
    position: fixed;    
    width: 600px;    
   
}
#titulo2{
    background-image: url(../images/titulo_llanos.png);
    background-size: cover;
    height: 165px;
    top: 200px;
    left: 500px;
    position: fixed;    
    width: 600px;    
   
}
.circulo{
    background-image: url(../images/circulo.png);
    background-size: cover;
    height: 400px;
    top: 200px;
    left: 500px;
    position: fixed;    
    width: 400px;  
}
.base_imgs_moviles {
    background-size: cover;  
    position: absolute; 
    top: 250px;
    left: 550px;
    width: 650px;
    height: 400px;   
}
/*
#img_movil{
    background-image: url(../images/img_sangil.jpg);  
}
#img_movil2{
    background-image: url(../images/img_llanos.png);   
}
#img_movil3{
    background-image: url(../images/img_san_andres.png);   
}
#img_movil4{
    background-image: url(../images/img_ejecafetero.png);   
}
#img_movil5{
    background-image: url(../images/img_baru.png);   
}
#img_movil6{
    background-image: url(../images/img_amazonas.png);   
}
*/
#fbsection1 {
    background-image: url(../images/img1.jpg);
	/*background-image: url(../images/patron_azul.png);
    background-repeat: repeat;*/
}

#fbsection2 {
	background-image: url(../images/img2.jpg);
    /*background-image: url(../images/patron_rojo.jpg);
    background-repeat: repeat;*/
}

#fbsection3 {
	background-image: url(../images/img3.jpg);
}

#fbsection4 {
	background-image: url(../images/img4.jpg);
}

#fbsection5 {
	background-image: url(../images/img5.jpg);
}

#fbsection6 {
	background-image: url(../images/img6.jpg);
}

