/* Set all parents to full height */
html, body, 
.container,
.cbp-fbscroller,
.cbp-fbscroller section { 
	height: 100%; 
}

header{
    
    background-color: #808080;
    background-image: url(../images/header2.jpg);
    background-repeat: repeat-x;
    height: 165px;
    padding-top: 15px;
    width: auto; 
     -moz-box-shadow: 3px 3px 20px #111;
    -webkit-box-shadow: 3px 3px 20px #111;
    box-shadow: 3px 3px 20px #111;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=20, Direction=135, Color='#111111')";
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#111111');
}

#logo {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    height: 145px;
    width:260px;
    margin: 0 auto;
}


/* The nav is fixed on the right side  and we center it by translating it 50% 
(we don't know it's height so we can't use the negative margin trick) */
.cbp-fbscroller > nav {
	position: fixed;
	z-index: 9999;	
    top: 50%;
	width: 250px;
    background-color: cadetblue;
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;
	/*width: 26px;right: 100px;*/
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.cbp-fbscroller > nav a {
	/*display: block;	
	color: transparent;
	width: 26px;
	height: 26px;
	outline: none;
	margin: 25px 0;
	border-radius: 50%;
	border: 4px solid #fff;*/
    position: relative;
	z-index: 9999;
    padding: 5px;
    display: block;
}

nav .menu{
    position: fixed;
    height: 50px;
   /* background-color: cadetblue;*/
}

#header_menu{   
    
    border-top-right-radius: 10px;
    background-image: url(../images/header_menu.png);
}

#footer_menu{  
    border-bottom-right-radius: 10px;        
    background-image: url(../images/footer_menu.png);
}
.no-touch .cbp-fbscroller > nav a:hover {
	background: rgba(255,255,255,0.6);
}

.cbp-fbscroller > nav a.cbp-fbcurrent {
	background: rgb(156, 120, 120);
}

/* background-attachment does the trick */
.cbp-fbscroller section {
	position: relative;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.no-touch .cbp-fbscroller section {
	background-attachment: fixed;
}

#fbsection1 {
	background-image: url(../images/img1.jpg);
}

#fbsection2 {
	background-image: url(../images/img2.jpg);
}

#fbsection3 {
	background-image: url(../images/img3.jpg);
}

#fbsection4 {
	background-image: url(../images/img4.jpg);
}

#fbsection5 {
	background-image: url(../images/img5.jpg);
}
