body {
}

#cuerpo {
    margin: 0 auto;
    width: 800px;
    height: 900px;
}

#contacto {
    padding-top: 250px;
    width: 100%;
    height: 100%;
}

#datos_contacto {
    width: 50%;
    height: 100%;
}


#formulario {
    height: 100px;
}


