.galleria{list-style:none;width:200px}
#contenedor_galeria {height: 400px;width: 1000px;margin: 0 auto;}
.galleria li{display:block;width:80px;height:80px;overflow:hidden;float:left;margin:0 10px 10px 0}
.galleria li a{display:none}
.galleria li div{position:absolute;display:none;top:0;left:180px}
.galleria li div img{cursor:pointer}
.galleria li.active div img,.galleria li.active div{display:block}
.galleria li img.thumb{cursor:pointer;top:auto;left:auto;display:block;width:auto;height:auto}
.galleria li .caption{display:block;padding-top:.5em}
* html .galleria li div span{width:400px} /* MSIE bug */

.caption{display:none;font-style:italic;color:#887;}
	.demo{position:relative;margin-top:2em;}
	.gallery_demo{margin-top: 190px;float: left;}
	.gallery_demo li{width: 60px;height: 50px;border: 3px double #111;background: #000;}
	.gallery_demo li div{left:240px}
	.gallery_demo li div .caption{font:italic 0.7em/1.4 georgia,serif;}

	#main_image{margin: 150px 50px 0px 50px;height: 400px;float: left;}
	#main_image img{margin-bottom:10px;}
	
	.nav{padding-top:15px;clear:both;font:80% 'helvetica neue',sans-serif;letter-spacing:3px;text-transform:uppercase;}
	
	.info{text-align:left;width:700px;margin:30px auto;border-top:1px dotted #221;padding-top:30px;}
	.info p{margin-top:1.6em;}
body {background-image: url(../images/cuerpo.png);}

#titulo_galeria {
    padding: 12px 40px;
    color: rgb(2, 2, 2);
    background-image: url(../images/galeria/titulo.png);
    width: auto;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;

}