/*
Fancy Transparent JQuery Image Gallery with CSS3 and JQuery
===========================================================
Created By: Zeeshan Rasool at  http://www.99Points.info 
This is copy righted script and You can use it free but can't publish it without permission of Author.
Contact Me:
==========
www.99Points.info
GTalk: zishan.rasool85@gmail.com  
Skype: zeeshan-rasool

*/
html, body{
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	background: url(bg.png) repeat;
	font-size:100%;
	font-family:inherit;
}
#border
{ 
	cursor:pointer;
	position:fixed;
	bottom:0px; 
	left:160px;
	z-index:999;display:none;
}

#controls {display:none;}

#controls #play
{ 
	position:fixed;
	bottom:472px;  
	left:828px;
	opacity:0.4;
	z-index:999;
}

#controls #hide
{ 
	cursor:pointer;
	position:fixed;
	bottom:472px;  
	left:861px;
	z-index:999;
}

#controls #pause
{ 
	cursor:pointer;
	position:fixed;
	bottom:472px;  
	left:794px;
	z-index:999;
}

#click
{ 
	cursor:pointer;
	position:fixed;
	bottom:0; 
	left:0px;
	z-index:999;
}

#left_bar 
{
	bottom:80px; 
	left:10px;
	cursor:pointer;
	height:0px;
	width:114px;
	position:fixed;
	display:none;
	padding:10px;
	
	background:#666666;
	-moz-background-clip: padding;     /* Firefox 3.6 */
	-webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
	background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
	border: 15px solid rgba(0,0,0,0.3);
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px; 
}


#top_bar 
{
	bottom:409px; 
	left:159px;
	cursor:pointer;
	height:112px;display:none;
	width:0px;
	position:fixed;
	background:#666666;
	-moz-background-clip: padding;     /* Firefox 3.6 */
	-webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
	background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
	border: 15px solid rgba(0,0,0,0.3);
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px; 
	
	padding:10px;
}

#right_bar 
{
	bottom:80px; 
	left:764px;
	cursor:pointer;
	height:0px;
	width:114px;
	position:fixed;
	display:none;
	background:#666666;
	-moz-background-clip: padding;     /* Firefox 3.6 */
	-webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
	background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
	border: 15px solid rgba(0,0,0,0.3);
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	
	padding:10px;
}

#top_boxes{ display:none}

#left_bar  .box{
	background: #000;
	height:110px;
	margin-bottom:3px;
	width:110px;
}

#top_bar  .box{
	background: #000;
	float:left;
	margin-right:3px;
	height:110px;
	width:110px;
}

#imagePlacer{
	width:608px;
	height:413px;
	position:fixed;
	bottom:12px; 
	background: url(load.gif) center center no-repeat #000000;
	padding:5px;
	left:160px;
	display:none;
	z-index:999;
}

#captions{
	position:fixed;
	bottom:-100px;
	height:40px;
	width:558px;
	background:#000;
	-moz-background-clip: padding;     /* Firefox 3.6 */
	-webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
	background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
	border: 15px solid rgba(0,0,0,0.3);
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	font: 15px Tahoma, Helvetica, Arial, Sans-Serif;
	text-align:justify;
	padding:10px;
	opacity:0.8;
	color: #ccc;
	text-shadow: 0px 2px 3px #555;
}

#captions span{ display:none; }

.box img{border:1px solid #000;-webkit-border-radius: 12px;;border-radius: 12px; -moz-border-radius: 12px; margin:4px 0 0 4px;}

.box img:hover { width:94px; margin-left:7px;margin-top:7px;}

#right_bar  .box{
	background: #000;
	height:110px;
	margin-bottom:3px;
	width:110px;
}

#content {
	width: 750px;
	margin: 0 auto;
	background:#D1DFF3;
	margin-bottom: 25px;font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	padding: 10px;
	text-align:justify;
}

a.link{ 
	bottom:10; left:804px;position:fixed;
	z-index:999; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px
	}





